{
  "presets": [ "es2015", "react" ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
